<div id="home-wrapper">
    <form id="artist-search" action="/artist-search">
        <input type="text" placeholder="enter your favourite artist" required name="artist" />
        <button type="submit" class="btn">Search for an Artist</button>
    </form>
</div>